package ${cfg.package_po};

#foreach($pkg in ${table.importPackages})
import ${pkg};
#end
#if(${entityLombokModel})
import com.baomidou.mybatisplus.annotation.TableField;
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.NoArgsConstructor;
import lombok.experimental.Accessors;

#end
/**
 * <p> $!{table.comment} 实体类  </p>
 *
 * @author ${author}
 * @version ${cfg.version}
 * @email "mailto:${author}@${cfg.email}"
 * @date ${cfg.date}
 * @since ${cfg.version}
 */
    #if(${entityLombokModel})
    @Data
    @AllArgsConstructor
    @NoArgsConstructor
        #if(${superEntityClass})
        @EqualsAndHashCode(callSuper = true)
        #end
    @Accessors(chain = true)
    #end
    #if(${table.convert})
    @TableName("${table.name}")
    #end
    #if(${superEntityClass})
    public class ${entity} extends ${superEntityClass}#if(${activeRecord})<Long, ${entity}>#end {
    #elseif(${activeRecord})
        public class ${entity} extends Model<${entity}> {
    #else
        public class ${entity} implements Serializable {
    #end

    /** serialVersionUID */
    private static final long serialVersionUID = 1L;
    #if(${entityColumnConstant})
        #foreach($field in ${table.fields})
            /** #if("$!field.comment" != "")${field.comment}-表字段#end */
            public static final String ${field.name.toUpperCase()} = "${field.name}";
        #end
    #end

    ## ----------  BEGIN 字段循环遍历  ----------
    #foreach($field in ${table.fields})
        #if("$!field.comment" != "")
            /** ${field.comment} */
        #end
    @TableField("`${field.name}`")
        #if($!field.enums)
        private ${field.enumProperties.name} ${field.propertyName};
        #else
    private ${field.propertyType} ${field.propertyName};
    #end
    #end
}
