package ${package.Mapper};

import org.apache.ibatis.annotations.Mapper;
import ${cfg.package_po}.${entity};
import ${superMapperClassPackage};

/**
 * <p> $!{table.comment} Dao 接口  </p>
 *
 * @author ${author}
 * @version ${cfg.version}
 * @email "mailto:${author}@${cfg.email}"
 * @date ${cfg.date}
 * @since ${cfg.version}
 */
#if(${kotlin})
    interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
    @Mapper
    public interface ${table.mapperName} extends

        ${superMapperClass}<${entity}> {

    }
#end
