package ${package.Service};

import ${cfg.package_po}.${entity};
import ${superServiceClassPackage};

/**
 * <p>Description: $!{table.comment} 服务接口 </p>
 *
 * @author ${author}
 * @version ${cfg.version}
 * @email "mailto:${author}@gmail.com"
 * @date ${cfg.date}
 * @since ${cfg.version}
 */
public interface ${table.serviceName} extends

        ${superServiceClass}<${entity}> {

    }

