<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package.Mapper}.${table.mapperName}">

    #if(${enableCache})
        <!-- 开启二级缓存 -->
        <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    #end
    #if(${baseResultMap})
        <!-- 通用查询映射结果 -->
        <resultMap id="$!{entity}ResultMap" type="${cfg.package_po}.${entity}">
            #foreach($field in ${table.fields})
                #if(${field.keyFlag})##生成主键排在第一位
                    <id column="${field.name}" property="${field.propertyName}"/>
                #end
            #end
            #foreach($field in ${table.commonFields})##生成公共字段
                <result column="${field.name}" property="${field.propertyName}"/>
            #end
            #foreach($field in ${table.fields})
                #if(!${field.keyFlag})##生成普通字段
                    <result column="${field.name}" property="${field.propertyName}"/>
                #end
            #end
        </resultMap>

    #end
    <!-- 通用查询结果列 -->
    <sql id="all_field">
        a.id,
#foreach($field in${table.fields})
        a.`${field.name}`#if($foreach.count < $table.fields.size()), #end
#end
    </sql>

    <sql id="date_query">
        <if test="query.startTime != null">
            <![CDATA[
                and a.create_time >= #{query.startTime}
            ]]>
        </if>
        <if test="query.endTime != null">
            <![CDATA[
                and a.create_time < #{query.endTime}
            ]]>
        </if>
    </sql>

    <select id="page" resultType="$!{package.Entity}.dto.$!{entity}DTO"
            parameterType="$!{package.Entity}.form.$!{entity}Query">
        select
        <include refid="all_field"/>
        from $!{table.name} as a
        <where>
            and a.deleted = 0
            <include refid="date_query"/>
        </where>
    </select>
</mapper>
