package ${package.Service};

import dev.dong4j.zeka.starter.mybatis.service.BaseService;
import $!{package.Entity}.po.$!{entity};
import $!{package.Entity}.dto.$!{entity}DTO;
import $!{package.Entity}.form.$!{entity}Form;

import ${superServiceClassPackage};

/**
 * <p> $!{table.comment} 服务接口 </p>
 *
 * @author ${author}
 * @version ${cfg.version}
 * @email "mailto:${author}@${cfg.email}"
 * @date ${cfg.date}
 * @since ${cfg.version}
 */
public interface ${table.serviceName} extends

        ${superServiceClass}<${entity}> {

        /**
         * 根据 ID 获取详细信息
         *
         * @param id 主键
         * @return 实体对象
         * @since ${cfg.version}
         */
            $!{entity}DTO detail (Long id);

        /**
         * 新增数据
         *
         * @param form 参数实体
         * @since ${cfg.version}
         */
        void create ($!{entity}Form form);

        /**
         * 更新数据
         *
         * @param form 参数实体
         * @since ${cfg.version}
         */
        void edit ($!{entity}Form form);

    }

